.vscode/
/node_modules/
/build/
/lib/
/dist/
/docs/
.idea/*
project/apps/users/readme.mongo.users

.DS_Store
coverage
*.log

# Environments
*.env
project/apps/blog/readme.postgres.blog

**/uploads/*
!.gitkeep
project/apps/uploader/readme.mongo.uploader
project/apps/notify/readme.notify.fakesmtp
project/apps/notify/fake-smtp-emails
project/apps/users/readme.users.volume
project/apps/users/.readme.users.volume